@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat text-white bg-black;
    background-image: url('/texture.png');
    background-blend-mode: overlay;
    
    height: 100%;           /* Assure que le body prend toute la hauteur de la fenêtre */
    margin: 0;              /* Retire les marges par défaut */
    overflow: hidden;       /* Désactive le défilement */
    display: flex;
    flex-direction: column;
  }

  html {
    height: 100%;           /* S'assure que la balise html prend aussi toute la hauteur */
  }

  .main-content {
    height: calc(100vh - 50px); /* Ajuste la hauteur de la section principale, en laissant de la place pour le footer */
    overflow: hidden;       /* Empêche le défilement au sein de cette section */
    flex-grow: 1;           /* Permet au contenu principal d'occuper toute la place disponible */
  }

  /*.footer {
    text-align: center;
    padding: 10px;
    /*margin-top: auto;       /* S'assure que le footer reste en bas de la page
    font-size: 14px;
  }*/

  .font-dancing {
    font-family: 'Dancing Script', cursive;
  }
  
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
}

@layer utilities {
  .shadow-glow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 
                0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in forwards;
  }
  
  .animate-pulse-slow {
    animation: pulse 3s infinite;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.7; }
  }
}

/* Si tu as des images, t'assure que rien ne dépasse de l'écran */
img {
  max-width: 100%;
  height: auto;  /* La hauteur s'ajustera proportionnellement */
}

@media (max-height: 700px) {
  body {
    font-size: 14px;
  }

  img {
    max-height: 180px;
    object-fit: contain;
  }

  form {
    transform: scale(0.95);
  }

  footer {
    margin-top: 8px !important;
  }
}
